* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-evenly;
}

section,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2,
form {
  margin-bottom: 50px;
}

#localLogin,
#sessionLogin {
  margin-left: 24px;
}

#readLocalStorage,
#readSessionStorage {
  display: flex;
}

button {
  margin-top: 15px;
  margin-left: 20px;
  height: 20px;
}
